@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Iceland&family=Lexend+Deca&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at bottom right, #A28CF9 2%, #8187E1 12.25%, #6B99E7 24.53%, #ABDBFF 42.58%, #FFFFFF 57.7%);
    background-repeat: repeat;
}

*{
    font-weight: 400;
}

.font1 {
    font-family: "Iceland";
}

.font2 {
    font-family: "Comfortaa";
}

.font3 {
    font-family: "Lexend Deca";
}

.title {
    font-size: 108px;
}

.description {
    font-size: 34px;
}

.buttons {
    font-size: 16px;
}

.group1 {
    margin: 6vh;
}