@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Iceland&family=Lexend+Deca&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(90.1% 278.15% at 93.96% 84.57%, #A28CF9 2%, #8187E1 12.25%, #6B99E7 24.53%, #ABDBFF 42.58%, #FFFFFF 57.7%)
}

.font1 {

    font-family: "Iceland";
}

.font2 {

    font-family: "Comfortaa";
}

.font3 {

    font-family: "Lexend Deca";
}