@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Lexend+Deca&family=Comfortaa&display=swap');

*{
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle at bottom right, #A28CF9 2%, #8187E1 12.25%, #6B99E7 24.53%, #ABDBFF 42.58%, #FFFFFF 57.7%) no-repeat center center fixed;
    background-size: cover;
}

.container {
    margin-top: 5%;
}

.title {
    font-family: "Iceland";
    font-size: 108px;
    line-height: 105px;
    letter-spacing: -0.07em;
    background: conic-gradient(from 92.25deg at 34.62% 69.18%, rgba(173, 218, 252, 0.992424) -76.11deg, #8E93DC 28.4deg, rgba(95, 152, 234, 0.99544) 74.88deg, rgba(173, 218, 252, 0.992424) 283.89deg, #8E93DC 388.4deg);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-family: "Comfortaa";
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.07em;
    color: #73A0E6;
    margin-bottom: 20px;
}

.text {
    font-family: "Lexend Deca";
    font-size: 16px;
    line-height: 20px;
    margin: 10px;
    text-align: center;
    color: #8E93DC;
}

input {
    width: 300px;
    height: 45px;
    left: 103px;
    top: 532px;
    font-family: "Lexend Deca";
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #8E93DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.form-group {
    width: fit-content;
    vertical-align: middle;
}
